@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

body {
  margin: 0px;
  padding: 0px;
  justify-content: center;
}
.container {
  width: 80%;
  box-sizing: content-box;
  height: 100vh;
  margin-left: 10%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 15px;
}

.container h1 {
  background-color: lightblue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  text-align: center;
  font-family: 'Gabriela', serif;
  font-size: 40px;
}

.class1 {
  background-color: aqua;
}
